* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.table,
.table tr,
.table td {
  border: 2px solid whitesmoke;
  border-collapse: collapse;
}

.table td {
  padding: 20px;
  font-size: 2rem;
  color: #fff;
  background-color: royalblue;
}

.buttons {
  margin-top: 20px;
  display: flex;
  width: 300px;
  justify-content: space-evenly;
}

.buttons button {
  padding: 10px;
  color: #fff;
  background-color: tomato;
  font-size: 1.2rem;
  outline: none;
  border: none;
  cursor: pointer;
}